<h1 class="mx-5"><%= t('.header') %></h1>

<table class="table p-5">
  <thead>
    <tr>
      <th><%= t('.user') %></th>
      <th><%= t('.question') %></th>
      <th><%= t('.gist_url') %></th>
    </tr>
  </thead>
  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= gist.user.email %></td>
        <td class="text-truncate" style="max-width: 89px;"><%= link_to gist.question.body, admin_question_path(gist.question), target: '_blank' %></td>
        <td><%= link_to gist.gist_url, gist.gist_url, target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
