  TEST COMPLETED

<% if @test_passage.succes? %>
  <p style="color:green;"> <%= @test_passage.percent %>%</p>
  <p style="color:green;"> TEST SUCCESSFUL</p>
<% else %>
  <p style="color:red;"> <%= @test_passage.percent %>%</p>
  <p style="color:red;"> TEST FALL</p>
<% end %>

<p> Решено вопросов:<%= @test_passage.correct_question %> </p>
<p> Всего вопросов:<%= @test_passage.test.questions.count %> </p>
<%= link_to 'Back', tests_path %>
