<p><%= t('.answer_label') %> <%= @answer.question.body %></p>
<p><%= @answer.body %></p>
<p><%= t('.correct_label') %> <%= @answer.correct %></p>

<%= link_to t('.back_to_question'), admin_question_path(@answer.question) %> |
<%= link_to t('.edit_answer_button'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.delete_answer_button'), admin_answer_path, method: :delete, data: { confirm: t('.are_you_sure') } %>
