<%= form_with model: [:admin, @test]  do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group mx-5">
    <%= form.label :title, class: '' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mx-5">
    <%= form.label :level %>
    <%= form.number_field :level, class: 'form-control' %>
  </div>

  <div class="form-group mx-5">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="form-group mx-5 ">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title %>
  </div>

  <div class="form-group mx-5 ">
    <%= form.label :timer %>
    <%= form.number_field :timer, id: :test_timer, class: 'form-control' %>
  </div>

  <div class="actions mt-3 mx-5">
    <%= form.submit %>
  </div>
<% end %>
