<%= form_with model: [:admin, @test]  do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
