<h1 class="mx-5"><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table p-5">
  <thead>
    <tr>
      <th class="sort-by-title pointer ">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.ready') %></th>
      <th colspan='3'> <%= t('.actions') %> </th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td class='align-middle'>
          <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
          <%= render 'form_inline', test: test == @test ? @test : test %>
        </td>
        <td class='align-middle'><%= test.level %></td>
        <td class='align-middle'><%= test.category.title %></td>
        <td class='align-middle'><%= test.questions.count %></td>
        <td class='align-middle'><%= test.published ? t('.published') : t('.nopublished') %></td>
        <td class='align-middle'><%= link_to t('.show_test_button'), admin_test_path(test) %></td>
        <td class='align-middle'>
          <%= link_to t('.edit_test_button'),
                      edit_admin_test_path(test),
                      data: { test_id: test.id },
                      class: 'form-inline-link' %>
        </td>
        <td class='align-middle'><%= link_to t('.delete_test_button'), admin_test_path(test), method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_test_button'), new_admin_test_path, class: 'mx-5 btn btn-success' %>
