<p id="notice"><%= notice %></p>

<h1><%= t('.header', title: @test.title) %></h1>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<%= link_to t('.back_tests_button'), admin_tests_path %> |
<%= link_to t('.edit_test_button'), edit_admin_test_path(@test) %> |
<%= link_to t('.delete_test_button'), admin_test_path(@test), method: :delete, data: { confirm: t('.are_you_sure') } %>

<%= render 'admin/questions/list', test: @test %>
